{% extends 'base.html' %}

{%block content%}
<head>
    <title>
        Welcome user
    </title>
</head>
<body>
    {%if user.is_authenticated %}
        <p>welcome {{user.first_name}} {{user.last_name}}</p>
        <p>Logout</p>
        <a class="btn btn-success" href="{% url 'logout' %}" role="button">logout</a>
        <br>
        <p>Add your project here</p>
        <a class="btn btn-primary" href="{% url 'add_project' %}" role="button" >Add Project </a><br>
        <br>
        <p>View your Projects</p>
        <a class="btn btn-warning" href="{% url 'view_project' %}" role="button">View</a>
        <br>
        <p>Add your education here</p>
        <a class="btn btn-primary" href="{% url 'add_edu' %}" role="button">Add Education</a>
        <br>
        <p>View your Education</p>
        <a class="btn btn-warning" href="{% url 'view_edu' %}" role="button">View</a>
        <br>
        <p>Add your work experince here</p>
        <a class="btn btn-primary" href="{% url 'add_work_exp' %}" role="button">Add Work Experince</a>
        <br>
        <p>Add your work experince here</p>
        <a class="btn btn-warning" href="{% url 'view_work_exp' %}" role="button">View</a>
        <br>
        <p>Add your skills experince here</p>
        <a class="btn btn-primary" href="{% url 'add_skills' %}" role="button">Add Skills</a>
        <br>
        <p>View skills here</p>
        <a class="btn btn-warning" href="{% url 'view_skills' %}" role="button">View</a>
        <br>
        <p>Add your position of responsibilty</p>
        <a class="btn btn-primary" href="{% url 'add_position_of_responsibilty' %}" role="button">Add positon of responsibilty</a>
        <br>
        <p>View your position of responsibilty</p>
        <a class="btn btn-warning" href="{% url 'view_position' %}" role="button">View</a>
        <p> Make your resume here </p>
        <a class="btn btn-primary" href="{%url 'resume'%}" role="button">Make</a>
        <br>
        <p>Share</p>
        <a class="btn btn-success" href="{%url 'share'%}" role="button">Share</a>
    {% else %}
    <p>
        Are you new to this website ?<br>
        <a class="btn btn-success" href="{% url 'signup' %}" role="button">Sign Up</a>
        <a class="btn btn-warning" href="{% url 'login' %}" role="button">Login</a>
    </p>
    {% endif %}
</body>

{%endblock%}